.card-community-question .title-single {
    color: #000000 !important;
}

.card-community-question .card-top .author {
    color: #13212f;
}

.card-community-question .card-top .card-date .tagline {
    color: #a1a6ac;
}

.card-community-question .card-counters .arrow_box .score {
    color: #000000;
}

.post-type-archive-question .card-right {
    width: 100% !important;
}

.post-type-archive-question #community-wrap .filter-dropdown {
    padding: 10px 0 0 0;
}

.post-type-archive-question .tags-post-categories {
    padding-bottom: 8px !important;
}

.single-question .nc_socialPanel.swp_threeDee {
    width: 206px!important;
    position: absolute;
    bottom: -103px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    display: inline-block !important;
}

.single-question .card-desc {
    position: relative;
}

.single-question .card-right {
    width: 100% !important;
}

.single-question .community-wrap-single {
    max-width: 749px !important;
}

.single-question .comments-title {
    margin-left: 0;
}

.single-question .article-no-comments {
    margin-left: 0;
}

.qa-text-area-wrap textarea {
    box-shadow: none;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-left: 0;
    resize: none;
    color: #101923;
    border-radius: 2px;
}

.qa-text-area-wrap .post-reply {
    padding: 11px 23px;
    font-size: 14px;
    font-weight: 600;
}

.qa-text-area-wrap {
    border-top: 6px solid #13212f;
    padding-top: 30px;
}

.answer_success_msg {
    border-radius: 2px;
    background-color: #f2f5f7;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.answers-wrapper .card-desc {
    padding-right: 54px;
}

.answers-wrapper .card-counters .arrow_box .score {
    color: #000000;
}

.card-community .bounty-solved {
    position: relative;
}

.card-community .bounty-solved:before {
    position: absolute;
    content: '';
    right: 7px;
    top: 8px;
    width: 17px;
    height: 15px;
    background: url(../img/check-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.card-community .nc_socialPanel .iconFiller:hover {
    width: 40px !important;
}

.card-community .nc_socialPanel .iconFiller {
    width: 40px !important;
}

.single-question .nc_socialPanel.swp_threeDee>div{
    display: inline-block;
    width: 40px !important;
}

.refund {
    position: relative;
}

.refund .tooltip {
    display: none;
}
.refund:hover .tooltip {
    display: block;
}

.status>div{
    display: inline-block;
}

#refund {
    color: #a1a6ac;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

label.error {
    border: 0 !important;
    font-family: SegoeUI;
    font-size: 12px;
    color: #e74c3c;
    font-style: normal;
}

input.error,textarea.error {
    border-bottom: 1px solid #e74c3c !important;
}

.fancybox-close {
    width: 16px !important;
    height: 16px !important;
    background: url(../img/close.svg) no-repeat !important;
    background-size: contain !important;
    top: 18px !important;
    right: 18px !important;
}


@media (max-width: 992px) {
    .post-type-archive-question .card-top {
        position: relative;
        padding-right: 60px;
    }

    .post-type-archive-question .card-counters.mob {
        display: inline-block;
        top: 0;
        bottom: auto;
    }
    .post-type-archive-question .card-counters.desk {
        display: none;
    }

    .single-question .nc_socialPanel.swp_threeDee {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -moz-box!important;
        display: -ms-flexbox!important;
        display: flex !important;
        position: static;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        width:  100% !important;
    }

}

.radio-btn_wr #award-error {
    position: absolute;
    left: 20px;
    bottom: -19px;
}


@media (max-width: 912px) {

    .post-type-archive-question .add-bookmark {
        display: inline-block;
        top: 51px;
    }

    #button_form_bounty {
        width: 78px;
    }

    #button_form_bounty span {
        display: none;
    }

    .site-main article.type-question:first-child {
        margin-top: 43px;
    }

    .post-type-archive-question #community-wrap .filter-dropdown {
        margin-bottom: 38px;
    }

}
