/*COMMUNITY PAGE*/

.single .card-desc h1,
.single .card-desc h2,
.single .card-desc h3,
.single .card-desc h4,
.single .card-desc h5,
.single .card-desc h6 {
  font-family: SegoeUI !important;
}

.single .card-desc p,
.single .card-desc span,
.single .card-desc div,
.single .card-desc li,
.single .card-desc a,
.single .card-desc td {
  font-family: SegoeUI !important;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #13212f;
}

.single .card-desc a{
  color: #22a1f8 !important;
}

.button__white {
  background: #FFFFFF;
  color: #101923;
  padding: 20px 45px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
}

.button__white:hover {
  background: #FFFFFF;
  color: #101923;
  box-shadow: none;
}

.button__white_border {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  padding: 12px 17px 12px 14px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
}

.button__white_border:hover, .button__white_border:focus, .button__white_border:active {
  background: none;
  border: solid 2px #ffb333;
  color: #ffffff;
  box-shadow: none;
}

.button__blue_border{
  background: none;
  border: 2px solid rgba(36, 178, 250, 0.4);
  color: #24b2fa;
  padding: 12px 17px 12px 14px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 56px;
  display: inline-block;
  text-align: center;
}

.button__blue_border:hover{
  background:rgba(36, 178, 250, 0.4);
  color:white;
}

.admin-bar .columns.top-shift {
  margin-top: 44px;
}

.columns.top-shift {
  background: #f2f5f7;
  margin-top: 76px;
  min-height: calc(100vh - 145px);
  padding-right: 0;
}

#community-wrap {
  margin-top: 75px;
  position: relative;
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
}

.comment-meta-item {
  white-space: normal;
}

#community-left-side {
  width: 170px;
  display: inline-block;
  float: none;
  margin-top: 0;
  vertical-align: top;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-right: 10px;
  background-color: #fafafa;
}

.side-center{
    margin-left:-15px;
    padding:0 15px;
}

#community-wrap * {
  box-sizing: border-box;
}

#community-right-side {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  float: none;
  vertical-align: top;
  padding-left: 0;
  min-height: calc(100vh - 145px);
}

#community-right-side .post-categories {
  list-style: none;
  padding: 0;
  margin-left: 5px;
  display: inline-block;
}

#community-right-side .post-categories li {
  padding-left: 0.6em;
  display: inline-block;
  margin-right: 6px;
  font-size: 14px;
  line-height: 1.57;
}

#community-right-side .post-categories li:before {
  content: "#";
  color: #00ABED;
  display: inline-block;
  margin-left: -0.6em; /* same as padding-left set on li */
  width: 0.6em; /* same as padding-left set on li */
}

#community-right-side .site-main {
  transform: none;
  padding: 30px 0 15px 0;
}

#community-right-side .site-main .entry-content {
  margin: 0;
}

#site-navigation ul .current-menu-item,
#site-navigation ul .current_page_item {
  background: #24b2fa;
  border-radius: 4px;
}

#site-navigation ul .current-menu-item a,
#site-navigation ul .current_page_item a {
  color: #fff !important;
}

.content-area {
  background: transparent;
}


.card .card-inner .reddit-post {
  width: 100% !important;
  overflow-x: hidden !important;
  word-wrap: break-word !important;
}

.card-left {
  display: none;
}

.single .card-right {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  padding: 0 50px 30px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

.card-desc {
  position: relative;
}

.card-counters>h3{
  padding-top: 25px;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
  font-size: 19px;
  font-weight: 400;
  font-family: SegoeUI;
}

.card-left .card-part-avatar {
  position: static;
  display: inline-block;
}

.card-by .author-tooltip:after {
  display: none;
}

.archive .card-tags,
.blog .card-tags {
  padding-right: 0;
  display: inline-block;
}

.card-community {
  padding: 25px 0 10px;
}

.single .card-community {
  padding: 0 0 10px;
}

.single article.hentry {
  padding-bottom: 0 !important;
}

.single .card-community {
  border-bottom: 0;
  padding-bottom: 0;
}

.card-by .author-tooltip {
  position: static!important;
  visibility: visible;
  background: none;
  box-shadow: none;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: #101923;
  font-family: SegoeUI;
  margin-right: 7px;
  display: inline-block !important;
}

.card-by {
  display: inline-block;
}

.card-date {
  display: inline-block;
}

.card-date span {
  font-size: 14px;
  color: #5e676f;
}

.card-middle h5 {
  font-family: SegoeUI;
  font-size: 20px!important;
  font-weight: 600;
  line-height: 1.4;
  color: #000000;
  margin: 8px 0 16px;
}

.card-counters .reddit-voting {
  padding: 0;
  min-height: auto;
}

.card-tags li a {
  font-size: 14px;
  line-height: 1.57;
  color: #22a1f8;
}

.card-counters .arrow_box .score {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #000;
  border: 0;
  position: relative;
  width: 45px;
  height: 27px;
  padding-top: 4px;
  min-width: auto;
  border-radius: 0;
  background: url(../img/like.svg) no-repeat;
  background-position: 21px 1px;
  text-align: left;
  cursor: pointer;
}

.card-counters .arrow_box.red .score {
  color: #000 !important;
  background: url(../img/liked.svg) no-repeat;
  background-position: 27px 2px;
  width: 51px;
}

.card-counters .arrow_box .orange {
  color: #000 !important;
}

.card-counters .arrow_box {
  margin: 10px 20px 0 0;
}

.card-counters .arrow_box:before {
  position: absolute;
  top: 7px;
  left: 23px;
  background: url("../img/triangle.svg");
  width: 10px;
  height: 8px;
  background-size: cover;
  border: none;
  border-radius: 0;
  display: none;
}

.card-counters .speech-bubble {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #000;
  border: 0;
  position: relative;
  width: 46px;
  height: 27px;
  min-width: auto;
  border-radius: 0;
  background: url(../img/comment.svg) no-repeat;
  background-position: 21px 4px;
  text-align: left;
  cursor: pointer;
  padding: 4px 0 0;
  display: inline-block;
}

.card-counters .speech-bubble:before {
  position: absolute;
  top: 5px;
  left: 12px;
  background: url(../img/shape.svg);
  width: 12px;
  height: 11px;
  background-size: cover;
  border: none;
  display: none;
}

.card-counters .speech-bubble:after {
  display: none;
}

.card-part-avatar a.avatar-link img {
  width: 24px;
  height: 24px;
  border: 0;
}

.tags-post-categories {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
  padding-bottom: 30px;
}

.filter-dropdown li.active a {
  border-color: #24b2fa;
  border-bottom: 2px solid #24b2fa;
  color: #24b2fa;
}

#site-navigation a {
  transition: none;
}

.filter-dropdown li a {
  border-bottom: 0;
  padding: 0 0 22px 0;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #7C7C7C;
  letter-spacing: 0;
  text-transform: none;
}
.filter-dropdown li {
  margin-right: 25px;
}

.filter-dropdown li a:hover {
  color: #24b2fa;
}

.filter-dropdown li.active a:after {
  display: none;
}

.filter-dropdown .topics-filter {
  color: #7C7C7C;
  background: none;
  border: 0;
  padding-left: 25px;
  position: relative;
}

.filter-dropdown .topics-filter:hover {
  background: none;
  border: 0;
  color: #24b2fa;
}

.filter-dropdown li i.fa-arrow-down {
  display: none;
}

.filter-dropdown .topics-filter:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 2px;
  height: 22px;
  background: rgba(0, 0, 0, 0.12);
}

.filter-dropdown .topics-filter:after {
  position: absolute;
  content: "";
  right: -21px;
  top: 5px;
  background: url(../img/blue-arrow.svg) no-repeat;
  width: 15px !important;
  height: 15px !important;
  display: inline-block !important;
  border: 0 !important;
  transform: rotate(0deg) !important;
  background-size: contain;
}

.tags-post-categories li {
  display: inline-block;
  margin-right: 10px;
}

.tags-post-categories li a {
  font-size: 14px;
  line-height: 1.57;
  color: #22a1f8;
}


.tags-post-categories .tags-post-categories-popular:before {
  display: none;
}

#community-wrap .filter-bar {
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

#community-wrap .filter-dropdown {
  border: none;
  text-align: left;
  box-shadow: none;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0 0 30px 0;
}

.tags-post-categories-popular {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.86;
  color: #7C7C7C;
}

.nav-links .page-numbers, .wpjb-paginate-links .page-numbers {
  border: 0!important;
  border-radius: 50%;
  padding: 0!important;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: SegoeUI !important;
  font-size: 16px;
  font-weight: 600!important;
  display: inline-block;
  line-height: 38px;
  color: #000000!important;
}

.page-numbers.current {
	border-radius: 4px;
	background-image: linear-gradient(to right, #34ccf1, #24b2fa);
	color: #ffffff !important;
}

.prev.page-numbers {
  color: #ffffff !important;
  background-color: #24b2fa;
  font-size: 14px;
  line-height: 35px;
  width: auto;
  height: auto;
  border-radius: 4px;
  background-image: linear-gradient(to right, #34ccf1, #24b2fa);
  padding: 3px 22px!important;
  margin-right: 40px;;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff !important;
}

.next.page-numbers {
  color: #ffffff !important;
  background-color: #24b2fa;
  font-size: 14px;
  line-height: 35px;
  width: auto;
  height: auto;
	border-radius: 4px;
	background-image: linear-gradient(to right, #34ccf1, #24b2fa);
  padding: 3px 22px!important;
  margin-left: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#community-wrap .hentry {
  margin: 0;
  background: none;
}

#community-wrap .hentry:hover .title a {
  color: #000000;
}

.page-numbers>.wrd-2 {
  font-size: 19px;
}

.pagination-wrap {
  padding-top: 35px;
}

.filter-dropdown ul.dropdown-pane {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  padding: 25px 15px 13px 25px;
  max-width: 500px;
  width: 500px;
  left: -221px!important;
  top: 34px!important;
}

.filter-dropdown ul.dropdown-pane:before {
  position: absolute;
  content: '';
  top: -11px;
  left: 50%;
  margin-left: -9px;
  background: url(../img/arrow-shadow.svg) no-repeat;
  width: 19px;
  height: 14px;
  background-size: contain;
  z-index: 1;
}

.filter-dropdown ul.dropdown-pane li {
  display: inline-block;
  width: calc(33% - 13px);
  vertical-align: top;
  margin-bottom: 12px;
  margin-right: 10px;
}

.filter-dropdown ul.dropdown-pane li a {
  border: 0;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding: 0;
  line-height: 1.2;
}

.abh_box.abh_box_down {
  display: none;
}

.card-community-single .card-middle {
  padding-right: 0;
  padding-left: 0;
}

.single-post .card-bottom {
  margin-top: 0 !important;
}

.card-community-single .card-counters {
  bottom: auto;
  top: 0;
}

.community-wrap-single .card-community{
  border-top: 0;
}

.card-community-single .card-middle .title-single {
  font-family: SegoeUI;
  font-size: 32px;
  font-weight: 400;
  color: #13212f;
  line-height: 1.2;
  margin-top: 45px;
}

.card-community-single .card-top {
  margin: 10px 0 16px;
}

.card-community-single .card-top .author {
  font-size: 14px;
  margin-right: 20px;
  color: #fff;
}

.community-wrap-single #community-right-side {
  padding-left: 0;
}

.card-community-single .card-top .card-date .tagline{
  color: #fff;
}

.single .post-categories li a {
  background-color: transparent;
  border-radius: 0;
  line-height: 1.57;
  color: #22a1f8;
  padding: 0;
  font-size: 14px;
}

.single .post-categories li a:hover {
  background: none;
  color: #22a1f8;
}

.single .post-categories li a:before {
  display: none;
}

.comment .comment {
  border-top: 0;
  position: relative;
}

.comment .comment .comments-left{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
}

.comment-reply {
  position: relative;
}

.comment-content .reddit-voting {
  position: absolute;
  right: 0;
  top: 6px;
}

.comment-content .reddit-voting .score {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #000 !important;
  border: 0;
  position: relative;
  width: 45px;
  height: 27px;
  padding-top: 4px;
  min-width: auto;
  border-radius: 0;
  background: url(../img/like.svg) no-repeat;
  background-position: 21px 1px;
  text-align: left;
  cursor: pointer;
}

.comment-content .arrow_box.red .score {
  color: #000 !important;
  background: url(../img/liked.svg) no-repeat;
  background-position: 23px 2px;
  width: 47px;
}

.comment-content .arrow_box .orange {
  color: #000 !important;
}

.comment-content .reddit-voting .arrow_box:hover:before {
  background: url(../img/triangle-blue.svg);
}

.comment-reply-title {
  position: absolute;
  bottom: 16px;
  right: 0;
}

.comment-reply-title a,
.comment-reply-title a:hover {
  color: #22a1f8;
}

.comment-content .reddit-voting .arrow_box:before {
  display: none;
}

.comment-content .reddit-voting .arrow_box {
  margin: 0;
}

.comment-author-link {
  display: inline-block;
  margin-right: 10px;
}

.comment-avatar a.avatar-link img {
  width: 40px;
  height: 40px;
  border: 0;
}

.comments-right {
  width: 60px!important;
}

.comments-left {
  width: calc(100% - 62px);
  padding-right: 65px !important;
  padding-bottom: 25px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.comments-left .comment-text {
  margin: 8px 0 0;
  min-height: 50px;
}

.comment {
  border-top: 0;
  padding-top: 15px;
}

.comment-form {
  border-top: 0;
  padding-top: 5px;
}

.comment-respond .medium-2 {
  display: none;
}

textarea#comment {
  box-shadow: none;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-left: 0;
  resize: none;
  color: #101923;
  border-radius: 2px;
}

.comment-list>#respond .comment-form-comment textarea#comment {
  box-shadow: none;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-left: 0;
  resize: none;
  color: #101923;
  border-radius: 2px;
}

.comment-list>#respond .comment-form-comment {
  border-top: 6px solid #13212f;
  margin-left: 65px;
  width: calc(100% - 65px);
  margin-top: -30px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.comment-form #submit {
  position: static;
  padding: 11px 23px;
  text-align: left;
  display: block;
  float: none!important;
  margin-left: 65px;
  margin-top: 5px;
}

.comment-reply>#respond .comment-form #submit {
  margin-left: 0;
}

textarea#comment::-webkit-input-placeholder {
  color: #8e8e8e !important;
}

textarea#comment::-moz-placeholder {
  color: #8e8e8e !important;
}

textarea#comment:-ms-input-placeholder {
  color: #8e8e8e !important;
}

textarea#comment:-moz-placeholder {
  color: #8e8e8e !important;
}

.comments-title {
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 65px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.community-wrap-single .bottom-button {
  position: relative;
}

.card-right .button__white {
  padding: 13px 17px 13px 11px;
  box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04) !important;
}

.bottom-button .button:hover,
.bottom-button .button{
  box-shadow: none;
  transition: none;
}


.white-small-button:hover i {
  background-image: url(../img/white-arrow.svg);
}

.bottom-button .back-button {
  position: absolute;
  bottom: -19px;
  left: 0;
  text-shadow: none;
}

.bottom-button .back-button .white-arrow {
  transform: rotate(90deg);
  margin-right: 4px;
}

.filter-bar {
  background: none;
}

.bottom-button .post-reply {
  position: absolute;
  bottom: -50px;
  right: 0;
  padding: 10px 23px;
}

.card.card-community {
  max-width: 100%;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  background: none;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.card.card-community .title {
  padding-right: 0;
  margin-bottom: 0;
  word-break: break-word;
  height: 88px;
  overflow: hidden;
}

.card-left .card-top {
  display: none;
}

.card-community .image-container {
  margin: 0 0 15px;
  height: 257px;
	border-radius: 4px 4px 0 0;
}

.card-middle,
.card-bottom {
  padding-right: 0;
}

.single .card-tags {
  margin-bottom: 20px;
}

.author-tooltip:before {
  display: none;
}

.author-tooltip.dropdown-pane.is-open {
  display: none;
}

.card-counters.mob {
  display: none;
}

.card-counters.desk {
  display: inline-block;
}

.card-community .card-counters.desk {

}

.card-middle {
  position: relative;
	padding: 5px 20px 20px 20px;
}

.post-type-archive-guides .card-left,
.post-type-archive-guides .card-by {
  display: none;
}

.card-part-avatar {
  position: static !important;
  display: inline-block !important;
  padding: 0;
  margin: 0;
}

.card .card-part-avatar a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-bottom: 0;
  overflow: visible;
  margin: 0;
  vertical-align: middle;
  margin-right: 7px;
}

.card-community .card-bottom {
  margin-top: 12px;
}

.card-right {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
}

.card-by a {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #13212f;
  margin-right: 5px;
}

.post-type-archive-guides .site-main .type-guides:nth-child(2) .card-community {
  border-top: 0;
  padding: 0;
}

.filter-dropdown.filter-dropdown-guides li {
  margin-right: 50px;
}

#community-wrap .filter-dropdown-guides {
  margin: 0 0 20px 0;
  text-align: center;
}

.tag-title {
  border-bottom: 6px solid #13212f;
  margin-bottom: 15px;
  cursor: pointer;
}

.tag-title h2 {
  display: inline-block;
  vertical-align: middle;
  font-family: SegoeUI;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

.card .title a:hover {
  color: #000;
}

.tag-title a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background: url(../img/close-black.svg) no-repeat;
  background-size: contain;
  margin-top: -5px;
}

.tag-title:hover a {
  background: url(../img/close-blue.svg) no-repeat;
}

.category .site-main .type-post:nth-child(6) .card-community{
  border-top: 0;
}

.nc_wrapper.floatBottom {
  display: none!important;
}

.logged-in .comment-list .comment-content .speech-bubble {
  left: -70px;
}

.comment-list .comment-content .speech-bubble {
  padding: 0;
  margin-top: 0;
  border: 0;
  display: inline-block;
  position: absolute;
  left: -75px;
  top: 1px;
}

.comments-area {
  padding-top: 25px;
}

.comment-list .comment-content .speech-bubble:before {
  width: 16px;
  height: 13px;
  background: url(../img/reply-arrow.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  left: -11px;
  top: 6px;
}

.comment-list .comment-content .speech-bubble a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  font-family: SegoeUI;
  line-height: 1;
}

.comment-list .comment-content .speech-bubble a:hover {
  color: #22a1f8;
}

.child-comments {
  margin-left: 0;
}

.child-comments .depth-2 {
  padding-left: 65px!important;
}

.child-comments .comment.depth-2:before {
  position: absolute;
  content: '•';
  left: 25px;
  top: 17px;
  color: #a1a6ac;
  font-size: 19px;
}

.child-comments .comment:before {
  position: absolute;
  content: '•';
  left: -40px;
  top: 25px;
  color: #a1a6ac;
  font-size: 19px;
}


.speech-bubble:before {
  border: none!important;
}

#site-navigation ul li:hover {
  /* background: #24b2fa; */
  /* border-radius: 4px; */
  color: #000;
}

#site-navigation ul li:hover a {
  color: #000 !important;
}
#site-navigation ul li.current-menu-item:hover a {
  color: #fff !important;
}

#site-navigation ul li.llms-sd-header:hover a,
#site-navigation ul li.llms-sd-header:hover a:hover {
  color: #717a82 !important;
}

.comment-author .subheader {
  display: none;
}

.comment-meta-desk {
  display: inline-block;
}

.comment-meta-mob {
  display: none;
}

.comment-list .comment-author {
  font-size: 14px;
  font-weight: 600;
  color: #101923;
}

.tagline {
  font-size: 14px;
  color: #90959c;
}

.comment-list .comment-content .reddit-voting .tagline {
  display: none;
}

.save-changes-cont {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.save-changes-cont #reply-title {
  display: inline-block;
}

.save-changes-cont .save-changes {
  display: inline-block;
}

.comment-form .save-changes #submit {
  padding: 0;
  background: none;
  color: #24b2fa !important;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-shadow: none;
  margin-right: 15px;
}

textarea#edit-comment {
  box-shadow: none;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
  color: #101923;
  border-radius: 2px;
}

.reply-title a:hover {
  color: #24b2fa !important;
}

.nc_socialPanel.swp_d_fullColor .twitter, body .nc_socialPanel.swp_o_fullColor:hover .twitter {
  background: transparent;
  border-radius: 40px;
  border: solid 2px transparent!important
}

html body .nc_socialPanel.swp_i_fullColor .twitter:hover {
  background: #FFFFFF;
  border-radius: 40px;
  border: solid 2px #4ac7f9 !important;
}

.nc_socialPanel.swp_d_fullColor .swp_fb, body .nc_socialPanel.swp_o_fullColor:hover .swp_fb {
  background: transparent;
  border-radius: 40px;
  border: solid 2px transparent !important;
}

html body .nc_socialPanel.swp_i_fullColor .swp_fb:hover {
  background: #FFFFFF;
  border-radius: 40px;
  border: solid 2px #3a569d !important;
}

.nc_socialPanel.swp_d_fullColor .linkedIn, body .nc_socialPanel.swp_o_fullColor:hover .linkedIn {
  background: transparent;
  border-radius: 40px;
  border: solid 2px transparent !important;
}

html body .nc_socialPanel.swp_i_fullColor .linkedIn:hover {
  background: #FFFFFF;
  border-radius: 40px;
  border: solid 2px #007bb6 !important;
}

.nc_socialPanel.swp_d_fullColor .swp_reddit, body .nc_socialPanel.swp_o_fullColor:hover .swp_reddit {
  background: transparent;
  border-radius: 40px;
  border: solid 2px transparent !important;
}

html body .nc_socialPanel.swp_i_fullColor .swp_reddit:hover {
  background: #FFFFFF;
  border-radius: 40px;
  border: solid 2px #f68961 !important;
}

.nc_socialPanel .sw.sw-reddit {
  color: #f68961;
}

.swp_reddit span.swp_share {
  color: #f68961;
}

.nc_socialPanel {
  margin-bottom: 30px!important;
  margin-top: 30px!important;
  height: 40px;
}

.single {
  padding-bottom: 0!important;
}

.nc_socialPanel .sw.sw-linkedin {
  color: #007bb6;
}

.linkedIn span.swp_share {
  color: #007bb6;
}

.nc_socialPanel .sw.sw-facebook {
  color: #3a569d;
}

.swp_fb span.swp_share {
  color: #3a569d;
}

.nc_socialPanel .sw.sw-twitter {
  color: #4ac7f9;
}

.twitter span.swp_share {
  color: #4ac7f9;
}

.nc_socialPanel .sw {
  height: 35px;
  line-height: 39px;
}

div.nc_socialPanel .nc_tweetContainer {
  height: 40px;
}
.single .card-desc .swp_social_panel span {
	font-family: SegoeUI;
	color: #fff !important;
	font-size: 17px!important;
	font-weight: 400;
}


.community-all-wrap {
  position: relative;
  background-color: #fafafa;
}

#editForm {
  padding-right: 65px;
}

#editForm .comment-form-comment {
  padding: 0;
}

.card-community-img {
  width: 100%;
  height: 315px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 3px 3px 0 0;
}

.card-community-img:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 315px;
  background-color: rgba(36, 178, 250, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.single #edit {
  width: calc(100% + 66px);
}

#reply-title a, .save-changes div {
  position: relative;
}

#reply-title a:hover, .save-changes input:hover, .comment-list .comment-content .edit-content {
  color: #00ABED;
}

.nc_socialPanel .nc_tweetContainer a.nc_tweet, .nc_socialPanel .totes .swp_count {
  display: inline-block!important;
  text-align: center;
  width: 100%;
}

.single .nc_socialPanel .iconFiller {
  float: none!important;
}

.nc_tweetContainer.totes.totesalt {
  display: none;
}

.comment .speech-bubble {
  display: none !important;
}

.comment-reply:hover .speech-bubble {
  display: block !important;
}

.comment-reply:hover .edit-content {
  display: block !important;
}

.save-changes div:before {
  position: absolute;
  top: -1px;
  left: 15px;
  content: '';
  width: 17px;
  height: 16px;
  background: url(../img/check.svg) no-repeat;
  background-size: contain;
}

#reply-title a:before {
  position: absolute;
  top: 1px;
  left: -22px;
  content: '';
  width: 13px;
  height: 15px;
  background: url(../img/close-black.svg) no-repeat;
  background-size: contain;
}

.comment-list .comment-content .edit-content {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
  position: absolute;
  left: -130px;
  top: 3px;
  display: none;
}

.comment-list .comment-content .edit-content:hover {
  color: #24b2fa;
}

.comment-list .comment-content .edit-content:before {
  position: absolute;
  top: 4px;
  left: -13px;
  content: '';
  width: 14px;
  height: 15px;
  background: url(../img/edit.svg) no-repeat;
  background-size: contain;
}

.archive .tags-post-categories {
  border-bottom: 0;
}

.card-image-mobile {
  display: none;
}

.add-bookmark {
  position: absolute;
  right: 0;
  top: 0;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #a1a6ac;
}

.mca-author {
  display: inline;
}

.reply-author {
  color: #24b2fa;
  padding-right: 8px;
}

.article-no-comments {
  display: block;
  text-align: center;
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: rgba(19, 33, 47, 0.2);
  padding: 30px 0 30px 0;
  margin-left: 66px;
}

.comment-reply>#respond .comment-form-comment {
  max-height: 120px !important;
}

.single-guides .card-left {
  display: none;
}

div.nc_socialPanel:not(.nc_socialPanelSide) .nc_tweetContainer {
  -webkit-box-flex: none !important;
  -moz-box-flex: none !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important;
}

.nc_socialPanel:not(.nc_floater):not(.nc_socialPanelSide) {
  display: inline-block !important;
  width: auto !important;
  position: absolute;
  right: 0;
  bottom: -135px;
}

.nc_socialPanel {
  display: inline-block !important;
}

.nc_socialPanel .sw {
  width: 31px !important;
}

.highlighted-text {
  background-color: rgba(36, 178, 250, 0.2) !important;
}



.single .card-right {
  padding: 0 150px 30px 50px;
}

.card-counters.sticky {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 222;
}

.card-counters.sticky .arrow_box .score {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #000;
  border: 0;
  position: relative;
  width: 40px;
  height: 47px;
  padding-top: 27px;
  min-width: auto;
  border-radius: 0;
  background: url(../img/like.svg) no-repeat;
  background-position: 6px 1px;
  text-align: center;
  cursor: pointer;
}

.card-counters.sticky .arrow_box.red .score {
  color: #000 !important;
  background: url(../img/liked.svg) no-repeat;
  background-position: 6px 1px;
}

.card-counters.sticky .arrow_box .orange {
  color: #000 !important;
}

.card-counters.sticky .speech-bubble {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #000;
  border: 0;
  position: relative;
  width: 40px;
  height: 47px;
  min-width: auto;
  border-radius: 0;
  background: url(../img/comment.svg) no-repeat;
  background-position: 9px 1px;
  text-align: center;
  cursor: pointer;
  padding: 24px 0 0;
  display: inline-block;
  margin-top: 19px;
}

.card-counters.sticky .reddit-voting>a {
  display: block;
}

.btn-popup.btn-facebook.shown {
  display: none !important;
}

.highlighter-popup.shown.available {
  width: 137px !important;
}

#site-navigation .menu-footer-menu-container #secondary-menu li:first-child {
  padding-left: 37px;
  position: relative;
}

#site-navigation .menu-footer-menu-container #secondary-menu li:first-child:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 14px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url("../img/highlights.svg");
  background-repeat: no-repeat;
}

.highlighter-view-post {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  padding: 30px 30px 25px 30px;
}

.highlighter-view-post a {
  color: #13212f;
}

.highlighter-view-title a {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #424d58;
}

.highlighter-view-title a span {
  color: rgba(19, 33, 47, 0.4);
  font-size: 16px;
}

#community-right-side .card-guide,
#community-right-side .card-article {
  width: calc(50% - 16px);
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 25px;
}

#community-right-side .card-guide:nth-child(odd) {
  margin-right: 0;
}

#community-right-side .card-article:nth-child(2n) {
	margin-right: 0;
}

.card .reddit-voting {
	text-align: left;
}

.card:hover .title a {
	color: #0fb1fd !important;
}


@media (min-width: 912px) {
  .all-tags {
    display: none !important;
  }
}

@media (max-width: 1170px) {
  .single #community-wrap {
    margin-left: 180px;
  }
}

@media (max-width: 1115px) {
  #community-wrap {
    margin-left: 180px;
  }
}

@media (max-width: 1024px) {
  .content-area .site-main {
    padding: 30px 15px 15px 15px;
  }

  .filter-title-pad, .search-title-pad {
    display: none;
  }
}

@media (max-width: 912px) {
  #community-right-side .post-categories {
    margin-top: 15px;
    margin-left: 0;
    display: block;
  }

  .archive .card-tags, .blog .card-tags {
    display: block;
  }

  .tag-title h2 {
      font-size: 24px;
  }

  .community-all-wrap {
    overflow-x: hidden;
  }

  #editForm {
    padding-right: 0;
  }

  .archive .card-tags,
  .blog .card-tags {
    padding-right: 0;
  }

  .comment-list>#respond .comment-form-comment {
    margin-left: 0;
    width: 100%;
  }

  .article-no-comments {
    margin-left: 0;
  }

  .add-bookmark {
    display: none;
  }

  .card-community .image-container {
    margin: 0 0 15px;
    height: 160px;
  }

  .card-image-mobile {
    display: block;
  }

  .card.card-community .title {
    padding-right: 0;
  }

  .comment-reply .speech-bubble {
    display: block !important;
    left: -47px !important;
  }

  .card-community-single .card-top .author {
    color: #13212f;
    font-size: 14px;
    font-weight: 600;
  }

  .single .card-tags {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .card-community-single .card-bottom {
    margin-top: 15px;
  }

  .card-community-single .card-top .card-date .tagline {
    color: #a1a6ac;
  }

  .card-community-single .card-middle .title-single {
    color: #13212f;
    height: auto;
    font-size: 20px;
    line-height: 1.5;
  }

  .single .card-counters .arrow_box .score {
    color: #13212f;
  }

  .single .card-counters .speech-bubble {
    color: #13212f;
  }

  .single .comments-list {
    width: 100% !important;
    padding: 0 0!important;
  }

  .logged-in.single .comment-list .comment-content .speech-bubble {
    left: -47px;
  }

  .bottom-button .back-button {
    font-size: 0;
    padding: 16px 15px 16px 15px;
  }

  .bottom-button .back-button .white-arrow {
    background: url(../img/blue-arrow.svg);
  }

  .banner {
    display: none;
  }

  .admin-bar #community-wrap {
    margin-top: 73px;
  }

  #community-wrap {
    margin-left: 0 !important;
    margin-top: 115px;
    padding: 0 15px;
    max-width: 100%;
  }

  .filter-dropdown ul.dropdown-pane:before {
    margin-left: 1px;
  }

  .filter-dropdown li:last-child {
    display: inline-block;
    position: static;
  }

  .filter-dropdown.filter-dropdown-guides li {
    display: none;
  }

  .filter-dropdown.filter-dropdown-guides li.filter-dropdown-guides-mobile {
    display: inline-block;
  }

  .comment-meta-desk {
    display: none;
  }

  .comment-meta-mob {
    display: inline-block;
    vertical-align: top;
    width: 77%;
  }

  .card-counters.mob {
    display: inline-block;
    top: -10px;
    bottom: auto;
  }

  .post-type-archive-guides .card-counters.desk {
    display: inline-block;
  }

  .post-type-archive-guides .card-counters {
    top: -56px;
  }

  .post-type-archive-guides .card-middle h5 {
    margin: 10px 0 16px;
  }

  .post-type-archive-guides .card-community .image-container {
    margin: 0 0 10px;
    height: 160px;
  }

  #community-wrap .filter-dropdown {
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  #community-wrap .filter-dropdown.filter-dropdown-guides {
    margin-bottom: 20px;
  }

  #community-wrap .filter-title-pad {
    display: none;
  }

  #community-left-side {
    display: none;
  }

  #community-right-side {
    width: 100%;
    padding-left: 0!important;
    margin-left: 0;
  }

  .tags-post-categories {
    display: none;
  }

  .filter-dropdown li {
    position: static;
    display: inline-block;
  }

  #filters-latest,
  #filters-must,
  #filters-best {
    display: none;
  }

  .filter-dropdown ul.dropdown-pane {
    width: 100%;
    left: 50% !important;
    margin-left: 0;
    padding: 10px 10px 0;
    transform: translatex(-50%);
  }

  .filter-dropdown ul.dropdown-pane#filters-dropdown {
    width: 100%;
    max-width: 100%!important;
    left: 50% !important;
    margin-left: 0;
    transform: translatex(-50%);
  }

  .filter-dropdown ul.dropdown-pane li a {
    font-size: 13px;
  }

  .filter-dropdown .topics-filter:before {
    display: none;
  }

  #community-right-side .site-main {
    padding: 0;
  }

  .filter-dropdown .topics-filter {
    padding-left: 0;
    margin-left: 25px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .filter-dropdown .topics-filter:hover,.filter-dropdown li:hover,
  .filter-dropdown .topics-filter.hover,
  .filter-dropdown .topics-filter:focus,.filter-dropdown li:focus{
    text-shadow: none;
    box-shadow: none;
    background: none;
    outline: none;
    border: 0;
  }

  .card.card-community {
    position: relative;
  }

  .card-right .card-top {
    display: none;
  }

  .post-type-archive-guides .card-right .card-top {
    display: block;
  }

  .card-left .card-top {
    display: inline-block;
    line-height: 1.2;
  }

  .card-left {
    width: 100%;
    position: relative;
    padding-right: 0;
  }

  .card-right {
    width: 100%;
  }

  .card-left .card-part-avatar {
    vertical-align: top;
  }

  .card-middle h5 {
    font-size: 20px !important;
  }

  .post-type-archive-guides .card-counters.mob {
    top: auto;
    bottom: 5px;
  }

  #community-right-side .post-categories {
    line-height: 1.2 !important;
  }

  .page-numbers.prev {
    line-height: 35px;
    margin-right: 10px;
    padding: 0!important;
    width: 40px;
    height: 40px;
    vertical-align: top;
  }
  .page-numbers.next {
    line-height: 35px;
    margin-left: 10px;
    padding: 0!important;
    width: 40px;
    height: 40px;
    vertical-align: top;
  }

  .page-numbers .wrd {
    display: none;
  }

  #community-wrap #primary {
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  .about-bottom.community-bottom .wrap {
    padding: 0 15px;
  }

  .single #edit {
    width: 100%;
  }

  .card-community-single .card-counters {
    bottom: auto;
    top: -70px;
  }

  .card-community-single .card-middle {
    padding-right: 0;
  }

  .card-community-single .card-top {
    margin: 0 0 20px;
  }

  .comments-left {
    padding-right: 0 !important;
    width: 100%;
    padding-bottom: 15px !important;
  }

  .comment-list {
    padding: 0;
    float: none;
  }

  .comments-title {
    margin-left: 0;
    margin-top: 0;
  }

  .comment-avatar {
    display: inline-block!important;
  }

  .comments-right {
    display: inline-block;
    width: 100%!important;
    float: none;
    padding-right: 120px!important;
    overflow: hidden;
    white-space: nowrap;
  }

  .comments-list .comments-left {
    float: none !important;
  }

  textarea#comment {
    margin-left: 0;
    width: 100%;
  }

  .comment-form #submit {
    margin-left: 0;
  }

  a.avatar-link {
    width: 49px;
    height: 40px;
    padding-bottom: 0;
  }

  .comment-author-link {
    display: block;
  }

  .comment-list .comment-content .speech-bubble a:before {
    width: 16px;
    height: 13px;
    background-size: contain;
    display: inline-block;
    position: absolute;
    content: '';
    background: url(../img/reply-arrow-grey.svg) no-repeat;
    left: 8px;
    top: 11px;
  }

  .comment-list .comment-content .speech-bubble:before {
    display: none;
  }

  .speech-bubble:after {
    display: none;
  }

  .comment-list .comment-content .speech-bubble a {
    position: absolute;
    left: 0;
    top: -3px;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 0;
    font-size: 0;
  }

  .comment-content .reddit-voting {
    top: -57px;
  }

  .child-comments .depth-2 {
    padding-top: 25px;
    padding-left: 18px!important;
  }

  .comment {
    padding-top: 20px;
  }

  .child-comments .comment.depth-2:before {
    position: absolute;
    content: '•';
    left: -3px;
    top: 27px;
    color: #a1a6ac;
    font-size: 19px;
  }

  .child-comments .comment:before {
    left: -40px;
  }

  .comments-left .comment-text {
    min-height: 30px;
  }

  .comment-list .comment-content .edit-content {
    display: block;
    left: -4px;
    top: 45px;
  }

  .comment .comment .comment:before {
    left: -20px;
  }

  .comment-list .comment-author {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tag-title {
    margin-top: 15px;
  }
}

@media (max-width: 1300px) {
  #community-wrap {
    width: 750px;
  }

	.post-type-archive-guides .card-community .image-container {
		height: 185px;
	}
}

@media (max-width: 767px) {
  .card.card-community .title {
    height: 50px;
    font-size: 18px !important;
  }

  .card-middle {
    padding: 5px 15px 10px 15px;
  }

  .card-counters.sticky {
    display: none;
  }

	#community-right-side .card-guide,
	#community-right-side .card-article {
		width: 100%;
		margin-right: 0;
	}

  .card-community .card-bottom {
    margin-top: 0;
  }

	.post-type-archive-guides .card-community .image-container {
    height: 160px;
    margin-bottom: 0;
	}

  .card-counters .arrow_box {
    margin: 6px 20px 0 0;
  }

  div.nc_socialPanel .nc_tweetContainer {
    margin: 0 0 3px;
  }

  .admin-bar #community-wrap {
    margin-top: 62px;
  }

  .card-community-img {
    height: 180px;
  }

  .card-community-img:before {
    height: 180px;
  }

  .single .card-right {
    padding: 0 15px 20px;
  }

  .single .card-right {
    background: none;
    box-shadow: none;
  }

  .card .reddit-voting {
    text-align: left;
  }

  .nc_socialPanel:not(.nc_floater):not(.nc_socialPanelSide) {
    bottom: -177px
  }
}

@media (max-width: 910px){
  .admin-bar #community-wrap{
    margin-top: 100px;
  }
}