.main-page-wrapper {
    margin-bottom: 0;
    font-family: SegoeUI;
    font-size: 16px;
}

.main-page-wrapper .row {
    max-width: none;
}

.main-top {
    background: url(../img/organisations-1.jpg) no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
}

.main-top .wrap {
    width: 736px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.main-top:before {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.6));
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-top .bg-h1 {
    padding-top: 150px;
}

.main-top .main-top-desc {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}

.main-top-buttons {
    margin-top: 55px;
}

.main-top-buttons a {
    padding: 17px 46px;
}

.main-top-buttons a:first-child {
    margin-right: 27px;
}

.main-advantages {
    background-color: #f4f6f7;
    padding: 70px 0 100px;
}

.main-advantages h2 {
    margin-bottom: 50px;
}

.main-advantages .row > div:nth-child(2) .main-advantages-title {
    background-color: #03ccba;
}

.main-advantages .row > div:nth-child(3) .main-advantages-title {
    background-color: #ff5383;
}

.main-advantages .row > div:nth-child(4) .main-advantages-title {
    background-color: #f1a53f;
}

.main-advantages-item {
    text-align: center;
}

.main-advantages-title {
    font-family: SegoeUI;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 0 0 20px;
    display: inline-block;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: #8891eb;
    border-radius: 50%;
}

.main-advantages .main-advantages-title {

}

.main-advantages-desc {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #717a82;
}

.button_blue_border {
    background: none !important;
    border: solid 2px rgba(36, 178, 250, 0.2) !important;
    color: #24b2fa !important;
    padding: 9px 15px !important;
    border-radius: 4px !important;
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
    line-height: 1.3;
}

.button.button_blue_border:hover,
.button.button_blue_border:active,
.button.button_blue_border:focus {
    background-color: transparent !important;
    border: solid 2px #24b2fa !important;
    color: #24b2fa !important;
    text-decoration: none;
}

.button_blue {
    border: solid 2px #24b2fa;
    color: #fff !important;
    background-color: #24b2fa;
    border-radius: 4px !important;
}

.button_blue:hover,
.button_blue:active,
.button_blue:focus {
    border: solid 2px #1f9cdb;
    background-color: #1f9cdb;
}

.button_green {
    padding: 9px 18px;
    background-color: #2ecc71;
    border: solid 2px #2ecc71;
    color: #FFFFFF !important;
    border-radius: 56px !important;
}

.button_gray {
    padding: 11px 20px;
    background-color: #eaeced;
    border: solid 2px #eaeced !important;
    color: #FFFFFF !important;
    border-radius: 56px !important;
}

.button_gray:hover,
.button_gray:active,
.button_gray:focus {
    padding: 11px 20px;
    background-color: #eaeced;
    border: solid 2px #eaeced;
    color: #FFFFFF !important;
}

.button_gray_border {
    padding: 10px 20px;
    background-color: transparent;
    border: solid 2px rgba(255, 255, 255, 0.5);
    color: #FFFFFF !important;
    border-radius: 56px !important;
}

.button_gray_border:hover,
.button_gray_border:active,
.button_gray_border:focus {
    padding: 11px 20px;
    background-color: #eaeced;
    border: solid 2px #eaeced;
    color: #FFFFFF !important;
}

.button_green:hover,
.button_green:active,
.button_green:focus {
    background-color: #2ab769;
    border: solid 2px #2ab769;
    color: #FFFFFF !important;
}

.button_yellow_black {
    -moz-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
    padding: 11px 20px;
    background: linear-gradient(to right, #ffdf5b, #ffb946);
    color: #13212f !important;
    font-weight: 600 !important;
    border-radius: 56px !important;
}

.button_yellow_black:hover,
.button_yellow_black:active,
.button_yellow_black:focus {
    -moz-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
    background: linear-gradient(to right, #ffb333, #ffb333);
    color: #13212f;
}

.arrow_blue {
    background: url("../img/arrow-blue.svg");
    width: 11px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.arrow_white {
    background: url("../img/white-arrow.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.arrow_black {
    background: url("../img/black-arrow.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.arrow_gray {
    background: url("../img/black-arrow.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.4;
}

.arrow_right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.arrow_left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.llms-loop-item-content {
    height: auto!important;
    padding: 0;
    margin: 32px 0 0 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

.llms-loop-item-content .llms-loop-link {
    color: #212121;
    display: block;
}

.llms-loop-item-content .llms-loop-link:visited {
    color: #212121;
}

.llms-loop-item-content .llms-featured-image {
    height: 130px;
    background-size: cover;
    background-position: center center;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.llms-loop-item-footer {
    padding: 20px;
}

.llms-course-info {
    padding-bottom: 12px;
    height: 120px;
    overflow: hidden;
}

.dashboard-courses-list__item__title {
    display: block;
    text-decoration: none;
    margin-top: 0;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
    max-height: 70px;
}

.dashboard-courses-list__item__title:hover {
    color: #22a1f8;
    text-decoration: underline solid rgba(36, 178, 250, 0.4) !important;
}

.llms-loop-link:hover, .llms-loop-link:focus, .llms-loop-link:active {
    cursor: auto;
    text-decoration: none !important;
}

.llms-loop-item-content img {
    max-width: 100%;
    height: 130px;
}

.llms-course-type {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none !important;
    color: #a1a6ac;
}

.main-courses {
    background-color: #f4f6f7;
    padding: 0 0 70px;
}

.main-block-title {
    font-family: SegoeUI;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.main-course-all {
    text-align: center;
    margin-top: 50px;
    padding: 19px 44px;
}

.main-course-bottom {
    text-align: center;
    clear: both;
}

.owl-stage-outer {
    overflow: visible !important;
}

.ourclients .item-inner {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.ourclients .item {
    background: rgba(36, 178, 250, .12);
    min-height: 464px;
    padding: 45px 18px 20px;
    position: relative;
}

.ourclients .item:before {
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-color: #24b2fa;
    border-radius: 50%;
    color: #ffffff;
    background-image: url(../img/brack.svg);
    background-repeat: no-repeat;
    background-size: 20px 17px;
    background-position: center center;
    top: 8px;
}

.ourclients-list-desk {
    overflow: visible;
}

.item-inner .item-ava > div {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.ourclients .item:before {
    display: none;
}

.item-ava {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
}

.ourclients-title {
    font-size: 16px;
    font-weight: normal;
    margin: 8px 0 15px;
    display: block;
    color: #717a82;
}

.ourclients p {
    color: #13212f;
    line-height: 26px;
}

.ourclients .main-block-title {
    margin-bottom: 73px;
}

.ourclients {
    padding: 50px 0 0;
}

.ourclients-list-desk h4 {
    margin-top: 25px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-family: SegoeUI;
    font-weight: 600;
}

.main-curators-wrap {
    border-radius: 4px;
    background-color: #24b2fa;
    color: #ffffff;
    padding: 45px 0;
}

.main-curators_text {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-right: 100px;
    padding-top: 14px;
}

.main-curators-img img {
    padding-left: 50px;
}

.main-curators .main-block-title {
    margin-bottom: 30px;
}

.main-learn-center {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #424d58;
}

.main-learn-center .main-learn-plus {
    font-weight: 400;
    font-size: 34px;
    padding: 5px 0;
    display: inline-block;
    color: #000;
}

.main-learn-left img {
    margin-left: -110px;
    max-width: 400px;
}

.main-curators {
    padding: 0 0 40px;
}

.main-learn .main-block-title {
    margin-bottom: 20px;
}

.main-learn-right img {
    margin-top: 15px;
    margin-left: 30px;
    max-width: 315px;
}

.main-learn {
    padding: 0 0 40px;
}

.main-advantages-ico {
    height: 49px;
}

.main-partnerships {
    background-color: #f4f6f7;
    padding: 0 0 20px;
}

.main-partnerships-logo {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    height: 120px;
    text-align: center;
    line-height: 115px;
    margin-bottom: 30px;
}

.main-partnerships .main-block-title {
    margin-bottom: 40px;
}

.main-courses p {
    margin: 0;
}

.main-bounty {
    padding: 90px 0 100px;
}

.main-bounty p {
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #717a82;
}

.gray-wrapper {
    background-color: #f4f6f7;
    z-index: 1;
    position: relative;
}

.main-partners .row>div {
    height: 82px;
}

.main-partners .row>div:nth-child(2) img {
    position: relative;
    top: -22px;
    left: 28px;
}

.main-partners .row>div:nth-child(3) img {
    position: relative;
    left: 27px;
}

.main-partners .row>div:nth-child(4) img {
    position: relative;
    top: -14px;
    left: 20px;
}

.main-partners .main-block-title {
    margin-bottom: 50px;
}

.main-team-owl img {
    height: 140px;
    width: auto !important;
    display: inline-block;
    border-radius: 50%;
}

.main-team-wrap {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    padding: 40px 50px 60px 50px;
    top: 70px;
    position: relative;
}

.main-team .main-block-title {
    margin-bottom: 40px;
}

.main-team-owl .slick-next {
    position: absolute;
    right: -71px;
    top: 21%;
}

.main-team .slick-prev {
    left: -71px;
    top: 21%;
}

.main-team .slick-arrow {
    box-shadow: 0 12px 18px 0 rgba(44, 62, 80, 0.12) !important;
}

.main-team-owl .owl-stage-outer {
    overflow: hidden !important;
}

.main-team-owl .item {
    text-align: center;
}

.main-team-name {
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 0 5px;
}

.main-team-title {
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: rgba(19, 33, 47, 0.4);
    padding: 0 10px;
}

.main-bottom {
    height: 576px;
    background: url(../img/bottom-img.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
}

.main-bottom-subtile {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.main-bottom .bg-h1 {
    padding-top: 200px;
    font-size: 32px;
    margin-bottom: 20px;
}

.main-bottom .main-top-buttons {
    margin-top: 35px;
}

.main-partners {
    padding-top: 45px;
}

.main-team {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .ourclients-list-desk .owl-stage {
        width: 100% !important;
    }

    .ourclients-list-desk .owl-stage .owl-item {
        margin-bottom: 90px;
        display: inline-block;
        vertical-align: top;
        float: none;
    }

    .ourclients-list-desk .owl-stage-outer.owl-height {
        height: auto !important;
    }
}
@media (max-width: 1300px) {
    .main-learn-right img {
        margin-left: 0;
    }

    .main-learn-left img {
        margin-left: -33px;
    }

    .main-learn-right img {
        max-width: 115%;
    }

    .main-learn-left img {
        max-width: 115%;
    }
}


@media (max-width: 1200px) {
    .main-curators-img img {
        padding-left: 0;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .main-bounty {
        padding: 35px 0 50px;
    }

    .main-partners .row>div {
        text-align: center;
        height: auto;
        padding-bottom: 15px;
    }

    .main-partners .main-block-title {
        margin-bottom: 34px;
    }

    .main-team-owl .slick-next {
        right: -60px;
    }

    .main-team .slick-prev {
        left: -60px;
    }

    .main-bottom {
        height: 520px;
    }

    .main-bottom .bg-h1 {
        padding-top: 145px;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .main-advantages h2 {
        margin-bottom: 40px;
    }

    .main-partners .row>div img {
        top: 0 !important;
        left: 0 !important;
    }

    .main-page-wrapper .main-top-buttons a {
        padding: 12px 20px;
        font-size: 14px;
    }

    .main-top .main-top-start {
        margin-top: 13px;
    }

    .main-top .main-top-desc br {
        display: none;
    }

    .main-top .main-top-desc {
        font-size: 16px;
        padding: 0 20px;
				margin-top: 15px;
    }

    .main-advantages {
        padding: 35px 0 35px;
    }

    .main-bottom-subtile {
        padding: 0 10px;
    }

    .main-curators-img {
        text-align: center;
    }
    
    .main-curators .main-block-title {
        padding: 0 20px;
    }
    
    .main-learn-left {
        text-align: center;
    }

    .ourclients .main-block-title {
        margin-bottom: 28px;
        margin-top: 0;
    }

    .main-curators-img img {
        padding-left: 0;
        max-width: 100%;
    }

    .main-curators_text {
        padding-right: 0;
        padding-top: 34px;
        padding-bottom: 0;
        font-size: 16px;
    }

    .ourclients .item {
        padding: 110px 18px 20px;
        margin-left: 0;
    }

    .item-ava {
        top: 15px;
    }

    .ourclients .item-inner {
        padding-right: 0;
        padding-left: 0;
    }

    .owl-stage-outer {
        overflow: hidden !important;
    }

    .ourclients .item:before {
        top: 15px;
    }

    .main-block-title {
        font-size: 24px;
    }

    .bg-h1 {
        font-size: 40px;
    }

    .main-top-buttons {
        margin-top: 40px;
    }

    .main-top .bg-h1 {
        padding-top: 130px;
    }

    .main-top {
        height: 450px;
        background-position: center center;
    }

    .main-advantages-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .main-learn-right img {
        max-width: 100%;
    }

    .main-learn-left img {
        max-width: 100%;
    }

    .main-learn-left img {
        margin: 15px 0;
    }
}

@media (max-width: 360px) {
    .main-top .main-top-desc {
        margin-top: 8px;
        margin-bottom: 0;
    }
}