/* media 800 px or higher */


@media (min-width: 1650px) {
  .business-top__circle {
    height: 48px;
  }
}

@media (max-width: 1330px) {
  .blu-text .wrap:after,
  .blu-text .wrap:before {
    display: none;
  }
}


@media (max-width: 1260px) {
  .plans-and-technology .plans-wrapper .plans-wrapper-2 .plans .plan-lists .plan-list:last-child {
    margin-left: 0;
  }

  .blu-text, .business-puzzle {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  .popup-auth-wrap-sign-up .gform_footer.top_label {
    right: -223px;
  }
}

@media (min-width: 992px) {
  .gform_footer {
    perspective: 400px;
  }
}

@media (max-width: 1180px) and  (min-width: 992px) {
  .recruiters-steps-list__hover {
    width: 300px;
  }

  .recruiters-steps-list__desk li:last-child .recruiters-steps-list__hover {
    left: -50px;
  }
}


@media (max-width: 1024px) {
  .blu-text .wrap:before {
    right: 50%;
    margin-right: -40px;
  }

  .blu-text .wrap:after {
    left: 50%;
    margin-left: -40px;
    transform: rotate(-90deg);
  }

  header .main-header .user-block > form,
  header .main-header .user-block > div {
    margin-right: 10px !important;
  }
  header .main-header .user-block .dropLogin .dropbtn {
    margin-right: 0 !important;
  }
}


@media (max-width: 992px) {
  .page-projects .page-main {
    padding: 0;
  }

  .page-projects .row {
    max-width: none;
    margin: 0 !important;
  }

  .popup-auth-container-right-click {
    margin: 100px 0 0;
    float: none;
  }

  .popup-auth-wrap-sign-up .gform_footer.top_label {
    right: auto;
    left: 0;
    bottom: -380px;
  }

  .popup-auth-wrap-sign-up .popup-auth-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  .popup-auth-wrap-sign-up .popup-auth-container-right {
    margin-top: 35px;
  }

  .webinar-top {
    height: auto;
  }

  .webinar-top h1 {
    margin: 10px 0 25px;
    font-size: 21px !important;
  }

  .single-webinars .content-area .site-main {
    transform: translate(0, 108px);
  }

  .webinar-page .curator {
    border-right: 0;
    padding-right: 0;
  }

  .dashboard-description-courator-top-ava {
    display: block;
    text-align: center;
  }

  .dashboard-description-courator-top-ava img {
    width: 125px;
    height: 125px;
  }

  .dashboard-description-courator-top-info {
    display: block;
    text-align: center;
    padding: 0;
  }

  .webinar-middle {
    padding-top: 0;
  }

  .course-title {
    font-size: 24px;
  }

  .video-frame iframe {
    max-height: 339px;
    width: 100% !important;
  }

  .webinar-list-top-left {
    width: 100%;
    padding: 20px;
    margin-right: 0;
    height: 225px;
  }

  .webinar-list-top-left-title {
    height: 100px;
    font-size: 40px;
  }

  .webinar-list-top-right {
    width: 100%;
    height: 300px;
  }

  .business-top {
    height: 420px;
    background-position: center 57px;
  }

  .business-desc {
    font-size: 16px;
  }

  .business-top .page-title {
    padding-top: 120px;
    max-width: 100%;
    line-height: 1.3;
    font-size: 29px;
  }

  .popup-auth-wrap-signin .popup-auth-container .gform_wrapper .gform_footer input.button {
    position: static !important;
  }

  .popup-auth-wrap-signin .gform_ajax_spinner,
  .popup-auth-wrap-signin .logo-spin div {
    top: 15px;
    right: 0 !important;
    left: 0 !important;
  }

  .popup-auth-container .gfield_checkbox {
    text-align: center;
  }

  .register-top {
    padding: 60px 0 15px;
  }

  .popup-auth-wrap-signin .logo {
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
  }

  .register-steps-right .register-step-2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .register-steps {
    margin-left: 25px;
  }

  .register-testimonial-wrap {
    padding: 70px 0 0 0;
    position: relative;
  }

  .register-testimonial-wrap:before {
    left: 0;
  }

  .register-testimonial .register-testimonial-title {
    margin-bottom: 20px;
  }

  .register-testimonial.row {
    margin-bottom: 30px !important;
  }

  .popup-auth-wrap-register .popup-auth-start {
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 4px;
  }

  .popup-auth-wrap-register .material .material-input {
    width: 100% !important;
    float: none;
    margin-right: 0 !important;
  }

  .popup-auth-container {
    padding: 20px !important;
    margin-bottom: 30px !important;
  }

  .popup-auth-wrap-register .gform_body {
    margin-bottom: 15px;
  }

  .register-step-2 {
    display: block;
  }

  footer .footer-inner-wrapper-new .footer-links a {
    float: none;
    width: calc(33% - 2px);
    display: inline-block;
  }

  footer .footer-inner-wrapper-new .footer-links {
    text-align: left !important;
    max-width: 500px;
    margin: 0 auto;
  }

  footer .footer-inner-wrapper-new > div {
    width: 100% !important;
    text-align: center !important;
  }

  header .main-header .user-block .search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.42) !important;
  }

  header .main-header .user-block .search::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.42) !important;
  }

  header .main-header .user-block .search:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.42) !important;
  }

  header .main-header .user-block .search:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.42) !important;
  }

  header .main-header .user-block .search {
    color: rgba(0, 0, 0, 0.42) !important;
  }

	.home header .main-header .user-block .search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #E1E4E5 !important;
	}

	.home header .main-header .user-block .search::-moz-placeholder { /* Firefox 19+ */
		color: #E1E4E5 !important;
	}

	.home header .main-header .user-block .search:-ms-input-placeholder { /* IE 10+ */
		color: #E1E4E5 !important;
	}

	.home header .main-header .user-block .search:-moz-placeholder { /* Firefox 18- */
		color: #E1E4E5 !important;
	}

	.home header .main-header .user-block .search {
		color: #E1E4E5 !important;
	}

  header .main-header .user-block .search {
    padding: 0 30px 0 0;
    margin: 0 53px 0 0;
    width: calc(100% - 68px) !important;
    min-width: auto;
		height: 42px;
  }

	body:not(.logged-in) header .main-header .user-block .search {
    margin: 0 80px 0 0;
		width: calc(100% - 93px) !important;
  }

	body:not(.logged-in) .search-img {
		right: 75px;
	}

  header .main-header {
    background: transparent;
  }

  .header-wrapper-top {
    background-color: #3e474e !important;
  }

  .home header .main-header .user-block .search:focus {
    color: #ffffff !important;
  }

  header .main-header .user-block .search:focus {
    color: rgba(0, 0, 0, 0.6) !important;
  }

  .search-img {
    right: 50px;
  }

  .search-wrapper:before {
    display: none;
  }

  .popup-auth-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transform: none;
    padding: 20px 20px 30px;
    position: static;
  }

  .password-reset {
    margin: 0 10px 30px 10px;
  }

  #lostpasswordform {
    text-align: center;
  }

  .password-reset .material-input.input{
    max-width: 100%;
  }

  header .main-header .user-block .dropLogin {
    position: absolute;
    right: 0;
    top: 0;
  }

  .user-account .site-main {
    padding: 20px;
  }

  .user-account {
    margin-top: 100px;
  }

  .user-account .gform_footer {
    text-align: center;
  }

  .user-account ul.gform_fields>li {
    max-width: 100%;
  }

  .about-team.about-team-teachers {
      text-align: center;
      padding: 55px 0;
  }

   .about-team-teachers .block-title {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 35px;
   }

  .about-team-list__text {
    text-align: center;
  }

  .about-team-list__name {
    text-align: center;
    margin-top: 10px;
  }

  .admin-bar #header-bar {
    top: 46px;
  }

  .admin-bar #main.off-canvas-wrapper_ {
    padding-top: 46px;
  }

  .learn-more-with-team__title {
    margin: 5px 0 10px;
    text-align: center;
    font-family: SegoeUI;
    font-size: 20px;
    line-height: 1.6;
    color: #000000;
  }

  .learn-more-with-team__title br {
    display: none;
  }
  .learn-more-with-team h2 {
    padding-bottom: 38px;
    margin-bottom: 15px;
  }

  .learn-more-with-team__item .learn-more-with-team__img {
    width: 100%;
    min-height: 240px;
    height: auto;
  }

  .learn-more-with-team {
    margin: 0 10px;
  }

  .learn-more-with-team__item-2, .learn-more-with-team__item-4 {
    padding-top: 0;
  }

  .learn-more-with-team__title.mobile {
    display: inline-block;
    width: 100%;
  }

  .learn-more-with-team__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .learn-more-with-team__item:last-child {
    width: 100%;
  }

  .steps {
    margin: 20px 0 50px;
  }

  .business-page * {
    box-sizing: border-box;
  }

  .designed-list__text {
    font-size: 18px;
    max-width: 271px;
    padding-top: 12px;
    display: block;
    margin: 0 auto;
  }

  .business-top:before,
  .business-top:after {
    display: none;
  }

  .steps .wrap,
  .wrap,
  .blu-text .wrap,
  .business-page .gform_wrapper .page-title,
  .fields-group-wrap,
  input.input-text,
  .input-text input,
  .input-text,
  .fields-group-wrap__about .gform_fields > .size,
  .fields-group-wrap__about .goal,
  .designed-list li {
    width: 100% !important;
  }

  .page-title {
    font-size: 24px;
  }

  .designed {
    margin-top: 39px;
  }

  .designed-list li {
    margin-bottom: 30px;
  }

  .blu-text .wrap {
    padding: 30px 20px 20px;
    margin-bottom: 30px;
  }

  .blu-text {
    margin: 75px 0 0;
  }

  .business-puzzle-left {
    width: 100%;
  }

  .business-puzzle-right {
    width: 100%;
  }

  .business-puzzle img {
    width: 100%;
  }

  .business-puzzle-text {
    text-align: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .business-puzzle {
    margin: 60px 0 40px;
  }

  .blu-text-data {
    margin: 0;
  }

  .business-puzzle-right.business-puzzle-text p {
    text-align: center;
  }

  .business-puzzle-text h3 {
    text-align: center;
  }

  .business-puzzle-text p {
    text-align: center;
  }

  .blu-text-data .wrap {
    flex-wrap: wrap;
    padding-top: 0;
  }

  .blu-text-data img {
    padding-top: 0;
    padding-right: 0;
    max-width: 100%;
  }

  .business-page .gform_wrapper {
    padding: 58px 15px;
    background-color: #24b2fa;
  }

  .fields-group-wrap {
    padding: 50px 15px 18px;
  }

  .steps-list li .steps-list__figure {
    height: 40px;
    width: 40px;
    padding-top: 8px;
  }

  .steps-list .slick-slide {
    padding: 0 88px;
    text-align: center;
  }

  .steps-list > li {
    width: calc(50% - 3px);
    margin-bottom: 15px;
  }

  .steps {
    padding: 0 15px;
  }

  .steps-list {
    margin: 30px 0 70px 0;
  }

  .blu-text h2 {
    font-size: 25px;
  }

  .blu-text p {
    line-height: 1.5;
  }

  .business-steps-title {
    margin-top: 40px;
  }

  .designed-list__img-one,
  .designed-list__img-two {
    background-size: 70%;
    background-position: center center;
  }

  .slick-slider.steps-list__mob {
    display: block;
  }

  /* recruiters page */
  .recruiters-page .recruiters-top {
    height: 468px;
    background-position: right center;
  }

  .recruiters-page .recruiters-top-content {
    padding: 48px 15px 60px 15px;
    text-align: center;
  }

  .recruiters-page .recruiters-page-title {
    max-width: none;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
  }

  .recruiters-page .recruiters-page-description {
    max-width: none;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  .recruiters-page .recruiters-top-shadow-mobile {
    background-color: rgba(19, 33, 47, 0.8);
  }

  .recruiters-page .recruiters-steps {
    padding: 48px 0 0 0;
    background: #FFFFFF;
  }

  .recruiters-page h2.recruiters-page-heading {
    font-size: 24px;
    color: #000;
  }

  .recruiters-page .recruiters-stats {
    box-sizing: border-box;
    padding: 48px 0 48px 0;
  }

  .recruiters-page .stats-list li {
    display: inline-block;
    width: calc(50% - 4px);
    vertical-align: top;
    margin-top: 32px;
  }

  .recruiters-page .recruiters-stats .stats-list__stat {
    font-size: 32px;
  }

  .recruiters-page .recruiters-stats .stats-list__description {
    display: inline-block;
    font-size: 14px;
    line-height: 1.57;
    color: rgba(16, 25, 35, .5);
    max-width: 121px;
  }

  .recruiters-page .recruiters-stats .recruiters-button__top {
    position: relative;
    top: 15px;
  }

  .recruiters-partners {
    padding-top: 32px;
  }

  .recruiters-partners .partners-list {
    display: none;
  }

  .recruiters-partners .partners-list-mobile {
    display: block;
    margin-top: 10px;
  }

  .recruiters-partners ul {
    margin-top: 32px;
  }

  .recruiters-partners ul li {
    box-sizing: border-box;
    display: inline-block;
    width: calc(50% - 3px);
    vertical-align: middle;
    border-right: none;
    height: 80px;
  }

  .recruiters-partners ul li:nth-of-type(1) {
    width: calc(100% - 3px);
  }

  .recruiters-jobs {
    padding-top: 61px;
  }

  .recruiters-jobs .jobs-list {
    width: 100%;
    padding: 0 10px;
  }

  .recruiters-jobs .jobs-list li {
    display: inline-block;
    width: 100%;
    vertical-align: middle;    /*margin-right: 29px;*/
    margin-right: 0;
  }

  .recruiters-jobs .jobs-list li:nth-last-of-type(1) {
    display: none;
    margin-right: 0;
  }

  .recruiters-steps-list__mob {
    display: block;
  }

  .recruiters-steps-list__desk {
    display: none;
  }

  .recruiters-page .recruiters-top-shadow {
    display: none;
  }

  .recruiters-steps-list__mob .recruiters-steps-list__hover {
    opacity: 1!important;
    position: static;
    width: 100%;
    height: 375px;
    max-width: 350px;
    margin: 0 auto;
  }

  .recruiters-offer-card {
    text-align: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 35px 22px 32px 22px;
  }

  .recruiters-button__bottom {
    display: inline-block;
    margin: 230px auto 65px auto;
    z-index: 1;
    position: relative;
  }

  .recruiters-steps-list {
    list-style-type: none;
    padding: 0;
    margin: 31px 0 0 0;
  }

  .button__orange-gradient {
    padding: 17px 25px;
  }

  .recruiters-page .partners-list__partner-logo {
    max-height: 80px;
    max-width: 200px;
  }

  .recruiters-jobs .jobs-list li:nth-last-of-type(2) {
    display: none;
    margin-right: 0;
  }

  .about-page .wrap {
    width: 100% !important;
    padding: 0 20px;
  }

  .about-top__left,
  .about-top__right,
  .about-testimonials__left,
  .about-testimonials__right,
  .about-team-list__item {
    width: 100%;
  }

  .about-team-title-description {
    max-width: 100%;
  }


  .about-top__left img {
    max-width: 100%;
  }

  .block-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .about-top__left .desk {
    display: none;
  }

  .about-top__left .mob {
    display: block;
  }

  .hidden-mob {
    display: none;
  }

  .show-mob {
    display: block;
  }

  .about-bottom {
    height: auto;
    padding-bottom: 50px;
  }

  .about-team-list__item:last-child {
    margin-bottom: 0;
  }

  .about-bottom-title-description {
    font-size: 16px;
  }

  .about-team-list.about-team-list__mob {
    display: block;
  }

  .about-team-list {
    display: none;
  }

  .about-top {
    padding: 20px 0 45px;
  }

  .about-top__wrap {
    margin-top: 30px;
  }

  .about-testimonials {
    background-color: #f2f5f7;
    padding: 45px 0;
  }

  .about-testimonials__left {
    display: none;
  }

  .about-testimonials__left.about-testimonials__left-mob {
    display: block;
    margin-top: 30px;
  }

  .about-team-list__item {
    margin-bottom: 0;
    padding: 0 20px 0;
  }

  .about-team .slick-dots li {
    margin-right: 4px;
  }
}


@media (max-width: 900px) {
  header .main-header .user-block {
    width: 100%;
  }

  .community .help-support .under-numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .community .help-support .under-numbers .support-images {
    width: 100%;
  }

  .community .help-support .under-numbers .support-text {
    width: 100%;
  }

  .community .help-support .under-numbers .support-text .inner-text {
    padding-left: 0;
    margin: 20px auto 0;
    text-align: center;
    padding: 0;
  }

  footer .copyright {
    width: 100%;
  }

  footer .footer-links a:last-child {
    margin-right: 20px;
  }
}


@media (max-width: 800px) {
  .community .learn-more .guides {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .business-puzzle-right:not(.business-puzzle-text), .business-puzzle-left:not(.business-puzzle-text) {
    height: 150px;
  }
}
