.profile-page {
  font-family: SegoeUI;
  padding: 105px 0 0 0 !important;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.profile-page a:hover,
.profile-page a:active,
.profile-page a:focus {
  color: #22a1f8;
}

.profile-page-top-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-transform: uppercase;
  font-family: SegoeUI;
  margin-bottom: 10px;
}

.profile-page-col {
  display: inline-block;
  vertical-align: top;
}

.profile-page-col-1 {
  width: 125px;
  margin-right: 65px;
  text-align: center;
}

.profile-page-col-2 {
  width: 740px;
}

.profile-page-row-col-1 {
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 18px);
  margin-right: 15px;
}

.profile-page-row-col-2 {
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 18px);
  margin-left: 15px;
}

.user-account .upload-ava-form_wrapper .gfield_label,
.profile-add {
  font-family: SegoeUI;
  font-size: 16px;
  color: #22a1f8;
}

.profile-add:hover {
  color: #22a1f8;
}

.user-account .upload-ava-form_wrapper .gfield_label {
  font-weight: normal;
}

.user-account .upload-ava-form_wrapper .gfield_description.validation_message {
  bottom: -18px;
}

.user-account .gfield.field_description_below .ginput_container {
  margin-bottom: 8px;
}

.user-account .gfield.field_description_below .gfield_description {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.profile-page-name h3 {
  font-family: SegoeUI;
  font-size: 32px;
  font-weight: 400;
  color: #101923;
  margin-bottom: 3px;
  max-width: 352px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-page-name h6 {
  font-family: SegoeUI;
  font-size: 16px;
  line-height: 1.63;
  color: #333c46;
}

.profile-page-col .profile-page-row {
  margin-bottom: 20px;
}

.user-account .profile-ava,
.profile-page-col .profile-ava {
  margin-bottom: 13px;
}

.profile-page-col .profile-ava img {
  border: 0;
  box-shadow: none;
}

.profile-page-col .profile-page-edit-button {
  margin-bottom: 0;
  margin-top: 8px;
}

.upload-ava-form .gfield_description,
.profile-ava-text {
  margin-top: 9px;
  font-family: SegoeUI;
  font-size: 14px;
  line-height: 1.57;
  color: #828990;
  text-align: center;
}

.upload-ava-form .gfield_description {
  text-align: left;
}

.user-account .upload-ava-form .ginput_container,
.user-account .upload-ava-form .ginput_container input {
  margin: 0;
}

.user-account .upload-ava-form .ginput_container input[type=file],
.user-account .upload-ava-form .ginput_container_fileupload input {
  color: #22a1f8;
  word-break: normal;
  font-weight: 400;
  font-size: 12px;
}

.profile-page-edit-button a {
  padding: 10px 18px;
  box-shadow: none;
  text-shadow: none;
}

.profile-page-edit-button a:hover {
  box-shadow: none;
  color: #000;
}

.profile-page-about p {
  font-family: SegoeUI;
  font-size: 16px;
  line-height: 1.63;
  color: #333c46;
}

.profile-page-edit-exp-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.profile-page-edit-exp-list li {
  border-radius: 24px;
  background-color: #f2f5f7;
  font-family: SegoeUI;
  font-size: 16px;
  line-height: 1.5;
  color: #101923;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  padding: 5px 10px;
}

.profile-page-edit-exp-list li:last-child {
  margin-right: 0;
}

.profile-page .wrap {
  width: 950px;
}

.profile-page-edit-exp .profile-page-top-title {
  margin-bottom: 10px;
}

.profile-page-edit-interests .profile-page-top-title {
  margin-bottom: 10px;
}

.profile-page .comments-list {
  width: 890px;
  margin: 0 auto;
  padding-left: 166px;
}

.profile-page .comment-author {
  font-size: 14px;
  font-weight: 600;
  color: #101923;
  font-family: SegoeUI;
  margin-bottom: -5px;
}

.profile-page .comment {
  width: 751px;
  margin: 0 auto;
  float: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 19px;
}

.profile-page .comment-text .tagline {
  margin-top: 15px;
  display: block;
  color: #24b2fa;
  font-size: 16px;
}

.profile-page .comment-text .tagline span {
  color: #0a0a0a;
}

.profile-page .comments-left {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}

.profile-page .filter-bar {
  width: 890px;
  margin: 0 auto !important;
  box-shadow: none !important;
  padding-left: 166px;
}

.profile-page .filter-dropdown {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.profile-page .filter-dropdown li {
  display: none;
}

.profile-page .filter-dropdown li:first-child {
  display: inline-block;
}

.profile-page .filter-dropdown li:first-child a {
  display: inline-block;
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border-bottom: 0;
  padding-left: 0;
  padding-bottom: 15px;
}

.author-main .filter-dropdown {
  text-align: left;
}

.have-no-comments {
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  color: rgba(16, 25, 35, 0.2);
  margin-bottom: 15px;
}

.um-page-account .site-main {
  transform: translate(0, 0) !important;
  -webkit-transform: translate(0, 0)!important;
  -ms-transform: translate(0, 0)!important;
  margin-top: 75px;
  padding: 0;
  min-height: calc(100vh - 145px);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.um-page-account #primary {
  padding-bottom: 0;
}

html {
  height: auto !important;
}

.um-page-account .page-inner {
  padding: 0!important;
}

.user-account ul.gform_fields>li {
  max-width: 50%;
  position: relative;
}

.user-account .gform_footer {
  text-align: left;
  margin-top: 20px;
}

#menu-account-menu li:first-child {
  margin-left: 9px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
}

.um-account-side.account-left-side {
  width: 180px;
  display: inline-block;
  float: none;
  background: #f2f5f7;
  margin-top: 0;
  vertical-align: top;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 0 10px;
}

.um-account-main.account-right-side {
  padding-top: 15px;
}

.um-account-side.account-left-side li a:hover {
  color: #fff !important;
  background: #24b2fa;
}

.um-account-side.account-left-side li a:hover span {
  color: #fff;
}

.um-account-side.account-left-side li a.current {
  background: #24b2fa;
  color: #fff;
}

.um-account-side.account-left-side li a.current span {
  color: #fff;
}

.um-account-side.account-right-side {
  display: inline-block;
  width: calc(100% - 186px);
  margin-top: 0;
  float: none;
  vertical-align: top;
  max-width: 884px;
  padding-left: 50px;
  margin-left: 180px;
}

.um-account-side.account-left-side li a {
  background: none;
  padding: 6px 0 6px 19px !important;
  border-radius: 4px;
  transition: none !important;
  margin: 0;
  height: auto;
  line-height: 1.8;
}
.um-account-side.account-left-side li a span {
  text-decoration: none;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  color: rgba(15, 24, 35, 0.5) !important;
}


.um-account-side.account-left-side li {
  margin-bottom: 0!important;
  background: none;
  border-radius: 0;
  transition: none !important;
}

.um-account-side.account-left-side ul {
  position: relative;
}

.um-account-side.account-left-side ul:before {
  width: 71%;
  position: absolute;
  content: '';
  bottom: -10px;
  left: 10%;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
}

.um-account-side.account-left-side li a span.um-account-title {
  padding-left: 0;
  float: none;
  height: auto;
}

.um-account-side.account-left-side li .um-account-icon,
.um-account-side.account-left-side li .um-account-arrow{
  display: none;
}

.account-left-side-title {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #5e676f;
  text-transform: uppercase;
  margin-top: 25px;
  padding-left: 19px;
}

.author .site-main {
  transform: translate(0, 0) !important;
  -webkit-transform: translate(0, 0)!important;
  -ms-transform: translate(0, 0)!important;
  margin-top: 0;
  padding: 0;
  min-height: calc(100vh - 72px);
}

.author.admin-bar .site-main {
  min-height: calc(100vh - 103px);
}

.author .content-area {
  padding-bottom: 0 !important;
}

.account-left-side-title-mob-wrap {
  text-align: center;
  display: none;
}

.black-arrow-left {
  background: url(../img/black-arrow.svg);
  width: 15px;
  height: 15px;
  display: inline-block;
  transform: rotate(90deg);
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.account-left-side-back-wrap a {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
  color: #90959c;
  margin-bottom: 20px;
  display: block;
}

.account-left-side-back-wrap a:hover {
  color: #90959c;
}

.author .comments-list > article.comment:last-child>.comments-left {
  border-bottom: 0;
  margin-bottom: 20px;
}

.have-no {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.have-no a {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 600;
}

.um-account-tab-profile .um-field-last_name {
  margin: 15px 0 !important;
}

.um-dropdown {
  left: 50%!important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.select2-selection__clear {
  display: none!important;
}

.um-field-checkbox-state {
  position: absolute!important;
  left: 0!important;
  top: 5px!important;
}

.um-field-checkbox-option {
  padding-left: 23px;
}

.um-finish-upload.image.disabled {
  display: none !important;
}

.show-mobile {
  display: none;
}

.profile-page-row-2 {
  margin-bottom: 15px!important;
}

.profile-page .nav-links {
  width: 890px;
  margin: 30px auto;
  padding-left: 166px;
}

.um-single-image-preview.crop {
  min-height: 90px;
}

.profile-page-site {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.um-page-account #community-right-side {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
}
@media (max-width: 1170px) {
  .um-page-account #community-right-side {
    margin-left: 210px;
  }
}

@media (max-width: 992px) {

  .um-page-account .site-main {
    margin-top: 100px;
    padding: 0 15px;
  }

  .admin-bar.um-page-account .site-main {
    margin-top: 53px;
  }

  .um-field-checkbox, .um-field-radio {
    margin: 8px 0;
  }

  .profile-page .nav-links {
    width: 100%;
    margin: 30px auto;
    padding-left: 0;
  }

  .profile-page-row-2 {
    margin-bottom: 20px!important;
  }

  .hide-mobile.profile-page-row-col-1 {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }

  .profile-page-row-col-1.show-mobile {
    margin-top: 15px;
  }

  .profile-page-about p {
    margin-bottom: 5px;
  }

  .dropLogin .dropdown-content {
    box-shadow: none !important;
  }

  .um-field-checkbox-option {
    font-size: 15px;
  }

  .um-field-checkbox-state {
    position: absolute!important;
    left: 0!important;
    top: 5px!important;
  }

  .profile-page .filter-dropdown {
    margin-right: 15px;
    margin-left: 15px;
  }
  .profile-page .filter-bar {
    width: 100%;
    padding-left: 0;
  }

  .account-left-side-back-wrap {
    display: none;
  }

  .account-left-side-title-mob-wrap .account-left-side-title-mob {
    font-family: SegoeUI;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    color: #000000;
    position: relative;
  }

  .account-left-side-title-mob .black-arrow-left {
    position: absolute;
    left: 0;
    top: 5px;
    width: 20px;
    height: 20px;
  }

  .account-left-side-title-mob-wrap {
    text-align: center;
    display: block;
    width: 100%;
  }

  .um-page-account .um-account-nav{
    display: block !important;
  }

  .um-page-account #community-right-side {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  .um-account-side.account-left-side {
    display: none;
  }

  .um-col-alt.um-col-alt-b .um-left {
    float: none;
  }

  .um-col-alt.um-col-alt-b .x-button {
    width: 100%;
    margin: 10px 0 0;
    padding-right: 0;
    padding-left: 0;
  }

  .profile-page-col-1 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .profile-page-col-2 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .profile-page-top {
    padding: 0 15px;
  }

  .profile-page-row-col-1 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    margin-bottom: 15px;
  }

  .profile-page-row-col-2 {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .profile-page-col-row-name {
    text-align: center;
  }

  .comments-list {
    width: 100% !important;
    padding: 0 15px!important;
  }

  .profile-page {
    transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0)!important;
    -ms-transform: translate(0, 0)!important;
     margin-top: 20px;
  }

  .admin-bar .profile-page {
    margin-top: 60px;
  }
}

.account-menu-wrapper {
  font-family: SegoeUI;
  line-height: 1.8;
}
.account-menu-wrapper li {
  display: block;
}
.account-menu-wrapper li a {
  text-decoration: none;
  padding: 6px 0 6px 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #999;
}
.account-menu-wrapper li a.current {
  border-radius: 4px;
  background-color: #24b2fa;
  color: #fff;
}

.menu .llms-sd-header a {
  color: #717a82 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-family: SegoeUI;
  font-weight: 400;
  padding-left: 9px;
}
.menu li.llms-sd-header:hover,
.menu li.llms-sd-header:hover a,
.menu .llms-sd-header a:hover,
.menu .llms-sd-header a:visited,
.menu .llms-sd-header a:focus,
.menu .llms-sd-header a:active {
  color: #717a82 !important;
  cursor: default;
  background: transparent !important;
}
.menu .llms-sd-header {
  border: none;
  background: transparent !important;
}

.menu .hr-top:before {
  display: block;
  content: ' ';
  height: 1px;
  border-top: 1px solid rgba(0,0,0,0.12) !important;
  margin-bottom: 20px;
  margin-left: 9px;
}

.user-account {
  background-color: #f4f6f7;
  margin-top: 75px;
  padding-top: 29px;
}

.page-template-template-member-account footer .footer-inner-wrapper {
  border-top: 1px solid rgba(0,0,0,0.12);
}

.user-account #community-right-side .site-main {
  padding-top: 20px;
}

.user-account .site-main {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px 50px 40px 50px;
  position: relative;
  box-shadow: 0 6px 12px 0 rgba(19, 33, 47, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 30px;
}

.user-account .material-select ul.radio {
  max-height: 250px;
  overflow-y: scroll;
}

.user-account .entry-content {
  margin: 0;
}

.user-account #site-navigation {
  padding: 0;
}

.page-template-template-member-account .off-canvas-wrapper_ {
  overflow: hidden;
}


.user-account .gform_wrapper {
  position: relative;
  padding-bottom: 20px;
}

.user-account .gform_wrapper .ginput_container_textarea textarea {
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.user-account .gform_body ul,
.user-account .gform_body ul li {
  margin: 0;
}

.user-account .ginput_container>span>label {
  display: block;
}

.user-account .textarea {
  resize: none;
}

.user-account .textarea .charleft,
.user-account .ginput_complex span > label,
.hide-label .gfield_label {
  display: none;
}

.user-account .hentry h1 {
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  padding-bottom: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.user-account .hentry h2 {
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  text-align: left;
  color: #000;
}


.user-account .gform_wrapper span.address_city,
.user-account .gform_wrapper span.address_state,
.user-account .gform_wrapper span.address_zip {
  width: 100%;
}


.user-account .gform_confirmation_message {
  background: green;
  color: white;
  padding: 1em;
  margin: 1em 0;
  border-radius: 3px;
}

.user-account .validation_error {
  display: block;
  padding: 1em;
  margin: 1em 0;
  border-radius: 3px;
}

.user-account .gform_validation_error li.gfield_error {
  background: transparent;
}

.user-account .gform_button,
.user-account .gform_wrapper .gform_footer input.button {
  height: auto !important;
  background-color: #24b2fa !important;
}


.user-account .material .material-input label {
  color: gray !important;
}

.user-account .gfield label {
  font-size: 16px;
  color: gray;
}

.user-account .material .material-input.textarea label {
  /* font-size: 16px !important; */
  margin-top: -8px;
}

.user-account .ginput_container {
  margin-bottom: 20px;
}

.page-template-template-member-account .page.hentry {
  height: auto !important;
}
